<%- include('layouts/main', { title: "404 - Page Not Found" }) %>

<section class="error-page">
    <h2>404 - You have ventured too far...</h2>
    <p>It seems you've stumbled upon forbidden knowledge not meant to be found, <%= user %>. Return to safety.</p>
    <a class="button spooky-button" href="/">Go Back Home</a>
</section>
