<header>
    <div class="logo">
      <a href="/">
        <h1>Shadowbrook Library</h1>
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manuscripts/search">Search Manuscripts</a></li>
        <li><a href="/manuscripts/add">Add Manuscript</a></li>
      </ul>
    </nav>
  </header>
  